# ============================================================
# Ene Dei monorepository boundary
# ============================================================

/*

!/.gitignore
!/.gitattributes
!/backend/
!/frontend/
